* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.body {
    font-size: 14px;
    font-family: ‘Pathway Gothic One’, sans-serif; font-weight: 400;
    background-image: url(../images/see.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.wrapper {
    width:480px;
    margin: auto;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
}

.articles {
    margin-bottom: 30px;
}

.titles {
    text-transform: uppercase;
    font-size: 20px;
    color: rgb(77, 32, 148);
    margin-bottom: 15px;
    font-weight: 400;
}

.first-p {
    font-size: 20px;
    color: rgb(77, 32, 148);
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}
 .list li{
    display: inline-block;
    color: rgb(77, 32, 148);
    margin-bottom: 15px;
}
