* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /*background-color:rgb(255, 5, 47);*/
}

.body {
    font-size: 14px;
    font-family: ‘Pathway Gothic One’, sans-serif; font-weight: 400;
    background-image: url(../images/see.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.wrapper {
    width:480px;
    margin: auto;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
}

.articles {
    margin: auto;
    padding: 10px;
}

/*articles {
    color: red;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration-color: blue;

}
*/
h2.titles {
    text-transform: uppercase;
    font-size: 20px;
    color: blue;
}

.first-p {
    text-decoration-color: blue;
}
 .list {

 }