.body {
    background-color: #ffffff;
    font-size: 16px;
    font-family: ‘Pathway Gothic One’, sans-serif; font-weight: 700;
}

.wrapper {
    width: 860px;
    margin: auto;
    padding: 10px;
    background-color: #ffffff;
    padding: 20px;
}

.header {
    display: block;
    font-style: normal;
    width: 800px;
    padding: 5px;    
}

.logo a {
    float: left;
    width: 60px;
    height: 50px;
    font-size: 18px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
}

.logo a::first-letter {
    color: #1cbd9b;
}

.menu {
    float: right;
    padding: 10px;
    line-height: 30px;
}

.menu a {
    font-size: 400;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    font-size: 10px;
    margin-right: 5px;
    padding: 5px;
}

.menu a:first-child {
    color: #1cbd9b;
}

.menu a:hover {
    color: #1cbd9b;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}
.image {
    width: 200px;
    height: 215px;

}

li {
    display: inline-block;
    width: 200px;
    height: 200px;

}

.menu li {
    display: inline-block;
    width: 50px;
    height: 20px;

}

.titles {
    height: 50px;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin: 25px;
} 