body {
    background-color: #6fc9636e;
    background-image: url(../images/See.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    font-family: 'Pathway Gothic One',sans-serif;
}

.wrapper {
    background-color: #f7f7f7;
    width: 900px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;

    
}

.menu li{
    display: inline-block;
    font-size: 20px;
    width: 90px;
    height: auto;
    padding: 10px;
    color: #0E1116;
    background-color: #0400ffe0;
    text-transform: uppercase;
    text-align: center;
    border-radius: 50%;
}

li:nth-child(3n) {
    background-color: #88292F; 
}

li:nth-child(3n+1) {
    background-color: #5DB7DE;  
}

li:nth-child(3n+2) {
    background-color: #0D5D56;   
}

.menu li:hover {
    color: #0a36fa;
    background-color: #ff0000;
    text-transform: lowercase;
}