body {
    background-color: #6fc9636e;
    background-image: url(../images/See.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    font-family: 'Pathway Gothic One',sans-serif;
}

.wrapper {
    background-color: #f806d8;
    width: 580px;
    height: 80px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
}

.menu li{
    float: left;
    font-size: 20px;
    width: 80px;
    height: auto;
    padding: 10px;
    margin: 5px;
    color: #fa0a0a;
    background-color: #0400ffe0;
    text-transform: uppercase;
    text-align: center;
}

.menu li:hover {
    color: #1a0afa;
    background-color: #10ff08;
    text-transform: lowercase;
}