body {
    background-color: #6fc9636e;
    background-image: url(../images/See.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    font-family: 'Pathway Gothic One',sans-serif;
}

.wrapper {
    background-color: #f7f7f7;
    width: 480px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;

    
}

.menu li{
    display: inline-block;
    font-size: 20px;
    width: 70px;
    height: 40px;
    padding: 10px;
    color: #fa0a0a;
    background-color: #0400ffe0;
    text-transform: uppercase;
    text-align: center;
}

.menu li:hover {
    color: #1a0afa;
    background-color: #10ff08;
    text-transform: lowercase;
}