body {
    background-color: #6fc9636e;
    background-image: url(../images/See.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    font-family: 'Pathway Gothic One',sans-serif;
}

.wrapper {
    background-image: linear-gradient( #fdfc47,#24fe41);
    max-width: 600px;
    height: 80px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
}


.menu li{
    float: left;
    font-size: 20px;
    min-width: 80px;
    height: auto;
    padding: 10px;
    margin: 5px;
    color: #0afa0a;
    background-image: linear-gradient(#833ab4, #fd1d1d,#fcb045 );
    text-transform: uppercase;
    text-align: center;
}

.menu li:hover {
    color: #f6fa0a;
    background-image: linear-gradient(#870000, #190a05);
    text-transform: lowercase;
}