body {
    background-color: #6fc9636e;
    background-image: url(../images/See.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    font-family: 'Pathway Gothic One',sans-serif;
}

.wrapper {
    background-color: #f7f7f7;
    width: 800px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;

    
}

.menu li{
    display: inline-block;
    font-size: 20px;
    width: 150px;
    height: 150px;
    padding: 10px;
    color: #22ff05;
    background-color: #0400ffe0;
    text-transform: uppercase;
    text-align: center;
    counter-increment: buttonnumber;
}

.menu li::before {
    display: inline-block;
    width: auto;
    height: auto;
    margin-right: 15px;
    vertical-align: middle;
    content: counter(buttonnumber, upper-roman)
}

.menu li:hover {
    color: #0a36fa;
    background-color: #ff0000;
    text-transform: lowercase;
}

.menu {
    counter-reset: countmaster;

}
