.body {
    background-color: #ffffff;
    font-size: 16px;
    font-family: ‘Pathway Gothic One’, sans-serif; font-weight: 700;
}

.wrapper {
    width: 1200px;
    margin: auto;
    padding: 20px;
    border: 1px solid rgb(0, 0, 0);
}

/* Block "Header" with "menu"*/

.header {
    display: block;
    font-style: normal;
    width: 1100px;
    padding: 10px; 
    margin: 10px; 
    border: 1px solid rgb(0, 0, 0);
}

.logo a {
    float: left;
    width: 80px;
    height: 40px;
    font-size: 26px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
}

.logo a::first-letter {
    color: #1BBC9B;
}

.menu {
    float: right;
    padding: 10px;
    line-height: 30px;
    border: 1px solid rgb(0, 0, 0);

}

.menu a {
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    font-size: 16px;
    margin-right: 5px;
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
}

.menu a:last-child {
    margin-right: 0px;
}

.menu a:hover {
    color: #1BBC9B;
}

/* Block "Shop"*/
.shop {
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
}
.image {
    width: 260px;
    height: 270px;
}

.case {
    float: left;
    text-decoration: none;
    text-transform: uppercase;   
    margin:5px;
    width: 260px;
    height: 310px;
    border: 1px solid rgb(0, 0, 0);
    list-style: none;
}

.case:hover {
    background-color: #1BBC9B;
}
.casename {
    float: left;
    width:190px;
    height: 35px;
    text-align: center;
    line-height:30px;
    border: 1px solid rgb(0, 0, 0);
    color: white;
    background-color: rgb(50, 50, 50);
    margin-top: -4px;
}

.casename:hover {
    background-color: #1BBC9B;
}

.price {
    float: right;
    width: 60px;
    height: 35px;
    text-align: center;
    line-height:30px;
    color: white;
    background-color: rgb(140, 140, 140);
    border: 1px solid rgb(0, 0, 0);
    margin-left: -4px;
}

.price::before {
    content: '';
}

.price:hover {
    background-color: #7DDAC8;
}

.titles h3{
    height: 50px;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 25px;
    border: 1px solid rgb(0, 0, 0);
}

.titles h3::after {
    display: block;
    width: 140px;
    height: 4px;
    background-color: #1BBC9B;
    content: "";
    margin: auto;
    border: 1px solid rgb(0, 0, 0);
}


.showcase {
    padding: 20px;
    border: 1px solid rgb(0, 0, 0);
}

/* news block */

.news {
    width: 1180px;
    border: 1px solid rgb(231, 17, 17);

}

.onenews {
    float: left;
    width: 300px;
    margin: 30px;
    list-style: none;
    border: 1px solid rgb(0, 0, 0);
    
}

.imgnews{
    width: 300px;
    height: 230px;
}

.preview {
    font-weight: 700;
    border: 1px solid rgb(0, 0, 0);
}

h4::after {
    display: block;
    width: 140px;
    height: 2px;
    background-color: #1BBC9B;
    content: "";
    margin: left;
}

.textnews {
    font-weight: 400;
    border: 1px solid rgb(0, 0, 0);

}
.readm {
    display: block;
    width: 120px;
    height: 40px;
    text-decoration: none;
    text-transform:capitalize;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    background-color: #1BBC9B;
    font-size: 12px;
}


.clearfix::after {
    display: table;
    content: '';
    clear: both;
}